header {
    width: 70px 700px;
    height: 70px;
    background: #ffc107;
    border: 1px solid #CCC;
}

h3 {
    margin: 5% 5% 5% 1%;
    padding: 0% 5% 2% 1%;
    display: inline;
}

.logo {
    border: 1px #A6A6A6;
    width: 250px;
    height: 70px;
    margin-left: 50px;
}

.lista {
    outline: 1px solid red;
    width: 400px;
    height: 1000px;
}
.contlist {
    width: 450px;
    padding: 400px;
    margin-top: -800px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display: inline-block;
    outline: 1px solid gray;
    width: 375px;
    height: 400px;
    background: #ffffff;
}

#studentslist {
    margin-top: 120px;
    margin-left: 200px;
}

ul {
    /* outline: 1px solid yellow; */
    list-style: none;
    width: 400px;
    line-height: 34px;
}

li  {
    /* outline: 1px solid red; */
    background: #ffffff; 
}

a {
    /* outline: 1px solid green; */
    display: block;
    text-decoration: none;
    color: #333333;
    padding-left: 50px; 
}

a:hover {
    background:#f2f2f2;
    transition-duration: 0.4s;
}

a:active{
    background:  #ffffff;
    color: #333333;
}

ul li:first-child a {
    color: #333333;
}

ul li:first-child a:hover {
    background:#ffc107;
    color: #333333;
}

ul li:first-child a:active {
    background:#ffc107;
    color: #ffffff;
}